<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CityMapper">
	<select id="getCityList" resultType="cityDTO">
		select cityno, cityename from city
	</select>
	<select id="getCitySelectListByCouno" parameterType="list" resultType="String">
		select cityno, couno, cityname, cityename from city where couno = #{couno}
	</select>
	<select id="getCitynoListByCouno" parameterType="list" resultType="int">
		select cityno from city where couno = #{couno}
	</select>
</mapper>

