<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CountryMapper">
	<insert id="countryInsert" parameterType="CountryDTO">
		insert into country(couno, cname, cename, continent)
		values(SEQ_COUNTRY_couno.nextval, #{cname}, #{cename}, #{continent})
	</insert>
	
	<select id="countrySelectOneByCname" parameterType="string" resultType="CountryDTO">
		select couno, cname, cename, continent from country where cname = #{cname}
	</select>
	
	<select id="countrySelectListByCname" parameterType="string" resultType="CountryDTO">
		select couno, cname, cename from country
		where rownum <![CDATA[<=]]> 10
		<if test="value != null">
			and cname like '%' || #{value} || '%'
		</if>
		order by cname desc
	</select>
	<select id="countrySelectListByCename" parameterType="string" resultType="CountryDTO">
		select couno, cname, cename from country 
		where rownum <![CDATA[<=]]> 10
		<if test="value != null">
			and cename like '%' || #{value} || '%'
		</if>
		order by cename desc
	</select>
	
	<select id="countrySelectListByContinent" parameterType="string" resultType="CountryDTO">
		select couno, cname, cename from country where continent = #{continent}
	</select>
</mapper>



