<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="HotelMapper">
	<insert id="hotelInsert" parameterType="HotelDTO">
		insert into hotel(hno, cityno, hname, good, address, lat, lng)
		values(SEQ_Hotel_hno.nextval, #{cityno}, #{hname}, #{good}, #{address}, #{lat}, #{lng})
	</insert>
	
	<select id="hotelSelectListBycityno" parameterType="list" resultType="HotelDTO">
		select hno, hname, good, address from hotel
		where rownum <![CDATA[<=]]> 5 and cityno in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>

