<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SafetyMapper">
	<insert id="safetyInsert" parameterType="SafetyDTO">
		insert into safety(sno, couno, title, content, id, createDate)
		values(SEQ_SAFETY_sno.nextval, #{couno}, #{title}, #{content}, #{id}, TO_DATE(#{createDate}, 'YYYY-MM-DD'))
	</insert>
	
	<select id="safetySelectListByCouno" parameterType="string" resultType="SafetyDTO">
		select sno, title, createDate from safety where rownum <![CDATA[<=]]> 10 and couno = #{couno}
	</select>
	
	<select id="safetySelectOneBySno" parameterType="string" resultType="SafetyDTO">
		select sno, couno, title, content, createDate from safety where sno = #{sno}
	</select>
</mapper>

